*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #E08C35; 
  --primary-color-hover: #D17125;
  --secondary-color: #0B1A45; 
  --accent-color: #03A9F4;
  --white-color: #fafafa;
  --input-border: #ccc; 
  --placeholder-color: #999;
}

html, body {
  font-family: 'DM Sans', 'Inter', sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

header{
  width: 100%;
  padding: 24px 1.25rem;
  justify-content: center;
  
  min-height: 80px;
  display: flex;
  align-items:center;
  position: absolute;
  top: 0;
  
}

header .navbar{
  max-width: 1246px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.navbar__contact-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--white-color);
  text-decoration: underline;

  cursor: pointer;
}

/* Main */
main{
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .hero{
  width: 100%;
  padding-top: 8.7rem;
  padding-bottom: 8rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 48px;

  flex: 1;

  background: linear-gradient(279deg, rgba(0, 4, 58, 0) 29.83%, #0B1A45 97.43%), url("./assets/cover-desktop.webp") lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: 74% center;
  background-size: cover;
}

.hero__content{
  width: 100%;
  max-width: 1246px;
}

.content-text{
  width: 530px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero__content h1{
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.52px;
  font-weight: 600;
  background: var(--primary-color);
  color: var(--white-color);
  width: fit-content;
  border-radius: 100px;
  padding: 2px 12px;
}

.hero__content h2{
  font-size: 50px;
  line-height: 100%;
  font-weight: 500;
  color: var(--white-color);
}

.hero__content p{
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: var(--white-color);
}

.hero__content strong{
  color: var(--primary-color);
}

.lead-form{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.lead-form__input-container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--input-border);
  border-radius: 8px;
  padding: 16px;
  background-color: var(--white-color);
  width: 100%;
  transition: border-color 0.3s ease;

}

.lead-form__input-container:focus-within {
  border-color: var(--primary-color);
}

.lead-form__input {
  flex: 1;
  border: none;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: var(--white-color);
}

.lead-form__input::placeholder {
  color: var(--placeholder-color);
}

.bnt{
  padding: 16px 32px;
  border-radius: 100px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  display: flex;
  gap: 12px;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.btn-primary, .bnt-primary-form {
  background: var(--primary-color);
  color: var(--white-color);
  white-space: nowrap;
}

.btn-primary:hover, .bnt-primary-form:hover{
  background: var(--primary-color-hover);
}

.bnt-primary-form{
  border-radius: 8px;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
}
#steps, #cases {
  width: 100%;
  text-align: center;
  padding: 6rem 1.25rem 0 1.25rem;
}
/* Como Funciona */
.steps-container{
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;

}
.list-steps{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-direction: row;
}

#steps h2, #cases h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary-color);
 
}

.step {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 20px;
  text-align: center;
  font-family: 'Inter';
  color: rgba(11, 26, 69, 0.80);
  
}

.step span{
  font-weight: 600;
  color: var(--primary-color);
}

.step p {
  font-size: 18px;
}

/* Casos */
.cases_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.cases-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.case {
  background: #fff;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: start;
}

.case_icon{
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 58px;
  height: 58px;
}


.case h3 {
  font-size: 20px;
  color: var(--secondary-color);
}

.case p {
  font-size: 16px;
  color: #777;
  text-align: start;
}

/* Footer */
footer{
  margin-top: 6rem;
  width: 100%;
  padding: 24px 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  background: var(--secondary-color);
  font-size: 14px;
}

footer section{
  width: 100%;
  max-width: 1246px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.footer__social-media{
  display: flex;
  gap: 8px;
}

.footer__social-media img{
  width: 24px;
  height: 100%;
}

/* Mobile (até 480px) */
@media screen and (max-width: 480px) {

  main .hero{
    background-image: url("./assets/cover-mobile.webp");
    background-size: contain;
    background-position-y: top;
    background-repeat: no-repeat;
    background-color: var(--secondary-color);
    padding-top: 380px;
    padding-bottom: 4rem;
  }

  main .hero .content-text {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .navbar__contact-link {
    font-size: 14px;
  }

  main .hero form{
    width: 100%;
  }

  main .hero .content-text h1{
    font-size: 14px;
  }

  main .hero .content-text h2 {
    font-size: 32px;
  }

  main .hero .content-text p {
    font-size: 16px;
  }

  .list-steps {
    flex-direction: column;
    gap: 2rem;
  }

  .cases-grid {
        grid-template-columns: repeat(1, 1fr);
        
  }

  #cases{
    padding-top: 4rem;
  }
  
  #steps{
    padding-top: 4rem;
  }

  .case{
    align-items: center;
  }
  .case p{
    text-align: center;
  }
  footer{
    margin-top: 4rem;
  }
  footer section{
    flex-direction: column-reverse;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
  }
}

/* Tablet (481px a 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {

  main .hero{
    background-image: url("./assets/cover-tablet.webp");
    background-size: contain;
    background-position-y: top;
    background-repeat: no-repeat;
    background-color: var(--secondary-color);
    padding-top: 380px;
    padding-bottom: 4rem;
    margin: 0 auto;
    
  }

  main .hero__content{
    justify-content: center;
    display: flex;
  }

  main .hero .content-text {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  main .hero form{
    width: 100%;
  }
  header nav {
    padding: 0 16px;
  }

  .navbar__contact-link {
    font-size: 15px;
  }

  main .hero .content-text {
    width: 90%;
  }

  main .hero .content-text h2 {
    font-size: 40px;
  }

  main .hero .content-text p {
    font-size: 16px;
  }

 
  .list-steps {
    flex-direction: column;
    gap: 2rem;
  }

  #cases{
    padding-top: 4rem;
  }
  
  #steps{
    padding-top: 4rem;
  }

  .cases-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .case {
    align-items: center;
  }

  .case p{
    text-align: center;
  }

  footer{
    margin-top: 4rem;
  }
}




